@import 'config';
@import 'button';

.wrapper-section {

    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 0.5em;

    &-cards {
        background: $background-color;
        border-radius: 5px;
        box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
        margin-top: 2em;
        height: 100%;
        align-items: center;
        color:set-text-color($background-color);
    }


    &-cards:hover {
        transform: scale(1.1);


    }
    


}