@import 'section-cards';
@import 'config';

*{
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4.5fr 4.5fr 0.5fr;
    margin-left: 2em;
    margin-right: 2em;

    &-nav {
        /* grid-column-start: 1;
        grid-column-end: 4; */
        grid-column: 1 / 4;
        border-bottom: 1px solid black;
    }


    &-hero {
        grid-column: 1 / 4;
        margin-top: 3em;
        text-align: end;
        background-image: url('undraw.svg');
        background-repeat: no-repeat;
        background-size: 50em 20em;
    }

    h1 {
        margin-right: 3em;
        margin-top: 2em;
    }
      
    h2 {
        text-align: center;
        margin-top: 5em;
    }


    &-footer {
        grid-column: 1 / 4;
        margin-top: 2em;
    }
      
   &-footer h3 {
        float: right;
    }


}
  


  

  

  

  

  

  